.tenweb {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 40px;
}
.search-box {
    flex: 2;
    display: flex;
    justify-content: center;
    margin-right: 200px;
}
.search-box input {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.tenweb .left img {
    width: 60px;
    vertical-align: middle;
    margin-right: 10px;
}
.left h2 {
    font-size: 40px;
}
.banner img {
    width: 100%;
    height: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width:768px){
.navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .menu {
        justify-content: center;
    }

    .khudangnhap {
        justify-content: center;
        margin-top: 5px;
    }
.container{
    flex-direction: column;
    width:95%;
}

.sidebar{
    width:100%;
}

.main{
    width:100%;
}
.card img{
height:200px;
}
}
.cart-icon {
  position: fixed;
  top: 15px;
  right: 20px;
  background: white;
  padding: 15px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 28px;
  flex: 1;
}

#cart-count {
  background: red;
  color: white;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 16px;
}
tr:hover {
  background: #f9f9f9;
}
